# Google Gemini AI
GEMINI_API_KEY=

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Neon PostgreSQL Database
DATABASE_URL=
DIRECT_URL=

# Trigger.dev
TRIGGER_SECRET_KEY=
TRIGGER_PROJECT_ID=

# Transloadit
TRANSLOADIT_AUTH_KEY=
NEXT_PUBLIC_TRANSLOADIT_AUTH_KEY=
TRANSLOADIT_AUTH_SECRET=

# App
NEXT_PUBLIC_APP_URL=
